* {
  font-family: roboto, Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
}

.navbar {
  width: 100%;
  background-color: lightgray;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
}

.left-nav-icons {
  flex-grow: 2;
  text-align: left;
  margin-top: 5px;
  flex-basis: 0;
}

.left-nav-icons i {
  margin-right: 20px;
  font-size: 20px;
}

.logo {
  width: 90px;
  vertical-align: middle;
  margin-bottom: 5px;
}

.searchbar {
  flex-grow: 4;
  text-align: center;
  flex-basis: 0;
}

.search-input {
  width: 575px;
  height: 28px;
  padding: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: solid rgb(80, 80, 80) 1px;
  margin-right: -5px;
}

.search-btn {
  width: 65px;
  height: 32px;
  border: solid rgb(80, 80, 80) 1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.right-nav-icons {
  flex-grow: 2;
  text-align: right;
  flex-basis: 0;
  margin-top: 5px;
}

.right-nav-icons i {
  margin-left: 10px;
  font-size: 20px;
}

.nav-content-wrapper {
  margin: 15px 20px;
  width: 100%;
  display: flex;
}

.container {
  display: flex;
  flex-wrap: nowrap;
}

.video-section {
  width: 70%;
  margin: 50px 10px 50px 50px;
}

.rec-videos-section {
  width: 30%;
  margin: 50px 50px 50px 10px;
}

.main-video {
  width: 900px;
  height: 506.25px;
}

.views-and-date {
  color: rgb(143, 143, 143);
}

.comment-user {
  display: inline;
}

.comment-add {
  display: inline;
}

.rec-video-wrapper {
  display: flex;
}

.rec-video-thumbnail {
  flex-basis: auto;
  flex-grow: none;
  width: 177px;
  height: 100px;
}

.rec-video-text {
  flex-basis: 0;
  flex-grow: 1;
}

.rec-vid-title {
  margin: 5px 5px;
  padding: 0;
}

.rec-vid-details {
  margin: 5px 5px;
  padding: 0;
}
